
      
html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    overflow-x: hidden;
    padding: 0;
    margin: 0 !important;
    width: auto;
    height: auto;
}
.cww{
    padding: 12px;
    margin-top: 12px;;
    color:  #085DCB;;
}
.btn2 {
    background-color:  #085DCB;
    border: 1px solid  #085DCB;
    margin-top:10%;
    font-size: 20px;
 
    color: white;
    border-radius: 4px;


}

.lierror{
   color: red;
}

.btn2:hover {
    color: #085DCB;;
    background-color: transparent;
    border: 1px solid  #085DCB;

}
.inputstyle{
    border-radius: 4px;
    padding: 6px;
    --primary:  #085DCB;
   
    
}
.navbargs{
    background-color:#085DCB;
}
.navbargsprofile{
    background-color:white;
}
.nav-link{
    color: rgb(230, 230, 230);
}
.nav-link:hover{
    color:white;
}
.logo{
    color: rgb(230, 230, 230);
}
.logo:hover{
    color: white;
}
.inputstyle:focus{
    outline:none ;
  
        }
.login{
   
    background-color:white;
    width: 430px;;
    height: 550px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding: 20px;
  
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);

}


.up {
    background-color: #085DCB;
    
}


.tw {
    font-weight: bold;
    color: rgb(230, 230, 230);
}

.tx {
    font-weight: bold;
    color: black;



}

.cw {
    color: rgb(230, 230, 230);
}

.decription {
    padding-left: 10px;
    font-size: 30px;
    color: rgb(230, 230, 230);
    margin-top: 3%;
    text-justify: auto;

}

.btnl {
    background-color: rgb(240, 240, 240);
    border: 1px solid #085DCB;
    margin-top: 6%;
    margin-left: 10px;
    width: 50%;
    font-size: 30px;
    padding: 10px;
    color: #085DCB;
    border-radius: 10px;


}

.btnl:hover {
    color: rgb(230, 230, 230);
    background-color: transparent;
    border: 1px solid rgb(230, 230, 230);

}

.hu {
    margin-top: 10%;
}
.closemg{
    cursor: pointer;
}

footer {
    background-color: #085DCB
    
    ;

}
.opacitybody{
    filter : blur(2px);
  }
.btnf {
    border: 1px solid rgb(230, 230, 230);
    color: rgb(230, 230, 230);
    border-radius: 10px;
    background-color: #085DCB;
}


.btnf:hover {
    background-color: rgb(230, 230, 230);
    color: #085DCB;


}


.fas{
    color:white; 
}
.input-group-text{
    background-color: #085DCB !important;
}
.form-control{
    background-color: white !important;
  
    border-radius: 0px !important;
    border: 1px solid #085DCB !important;
    border-left: none !important;
}
.input-group-text{
    border-radius: 0px !important;
    border: 1px solid #085DCB !important;
 
}
.glow-on-hover {
  
    border: none;
    outline: none;
    color: #085DCB;
     
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #085DCB,#48ff00);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
   
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}



.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 0.7;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
   
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 100% 0; }
    100% { background-position: 0 0; }
}
.imgresp{
    width: 200px;
    height: 200px;
}
.contact{
    background-color: white !important;
    border-top:1px solid #085DCB;
    

}

.contact>h4,h6{
  
    color: black!important;
    
    

}
contact>h6,h4{
    
    color: #085DCB!important;

}
.btns{
    background-color: white;
    border: 1px solid #085DCB;
    color: #085DCB;
    border-radius: 4px !important;
}
.btns:hover{
    background-color: #085DCB;
    border: 1px solid white;
    color: white;
}

.pmain:hover{
   
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    
}
.pmain{
    transition: 1s ease;
}
